* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right top, #f6faff, #f6f9fd, #f6f7fa, #f6f6f7, #f5f5f5);
  font-family: "Yomogi", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

h1 {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  display: inline-block;
  margin-top: 10px;
}

header {
  background-image: linear-gradient(to left top, #f49e55, #f4a54d, #f2ad45, #eeb53d, #e9bd35);
  align-items: center;
  padding: 10px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-container .naiarai-logo {
  width: 7vw;
  height: auto;
  padding: 10px;
}
.nav-container .pages-link {
  display: flex;
  gap: 2rem;
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  padding: 10px;
}
.nav-container .pages-link:hover {
  background-color: #e9bd35;
  border-radius: 10px;
  color: white;
}

.add-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 0;
}

.add-info {
  text-align: center;
  margin-bottom: 20px;
}

.punilla-image {
  height: auto;
  width: 100%;
}
.punilla-image:hover {
  border-style: groove;
}

.add-photos {
  height: auto;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  border-radius: 1rem;
}
.add-photos:hover {
  border-style: groove;
  border-width: 10px;
}

.add-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 0;
}

.add-info {
  text-align: center;
  margin-bottom: 20px;
}

.punilla-image {
  height: auto;
  width: 100%;
}
.punilla-image:hover {
  border-style: groove;
}

.add-photos {
  height: auto;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  border-radius: 1rem;
}
.add-photos:hover {
  border-style: groove;
  border-width: 10px;
}

.naiarai-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.naiarai-container .naraiai-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 20px 0;
}
.naiarai-container .naraiai-item .info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.naiarai-container .rental-name {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.visita-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.visita-container .visita-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 20px 0;
}

.grupo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.grupo-container .grupo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 20px 0;
}
.grupo-container .grupo-photos {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.contacto-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contacto-container .contacto-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 20px 0;
}

.rental-photos {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
}
.rental-photos:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.rental-info {
  background-color: #fafafa;
  margin: 0;
  width: 100%;
  max-width: 500px;
  padding: 15px 100px 10px 100px;
  margin-bottom: 40px;
  border-radius: 10px;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0 12px 17px rgba(243, 164, 60, 0.966);
}
.rental-info:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

:hover.title-animation {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  font-weight: bold;
}

.button-style {
  margin-bottom: 10px;
  background-color: #e9bd35;
  color: white;
}
.button-style:hover {
  background-color: #f2ad45;
  color: white;
}

footer {
  background-image: linear-gradient(to left top, #f49e55, #f4a54d, #f2ad45, #eeb53d, #e9bd35);
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer ul {
  list-style-type: none;
}

.footer-content {
  display: flex;
  justify-content: center;
}
.footer-content ul {
  display: flex;
  padding-left: 7px;
}
.footer-content ul li {
  padding: 10px;
}

.follow-message {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.size-social {
  font-size: 1.3em;
  color: black;
  height: auto;
  width: auto;
}

.social {
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .naiarai-logo {
    width: 10vw;
  }
  .naraiai-item {
    display: flex;
    flex-direction: column;
    width: 85%;
  }
  .visita-item {
    display: flex;
    flex-direction: column;
    width: 85%;
  }
  .grupo-item {
    display: flex;
    flex-direction: column;
    width: 85%;
  }
}
@media (max-width: 992px) {
  .naiarai-logo {
    width: 12vw;
  }
}
@media (max-width: 768px) {
  .naiarai-logo {
    width: 15vw;
  }
}
@media (max-width: 576px) {
  .naiarai-logo {
    width: 20vw;
  }
}

/*# sourceMappingURL=main.css.map */
