footer{
    background-image: $bg-image-hd-ft;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer ul {
    list-style-type: none;
}


.footer-content{
    display: flex;
    justify-content: center;
  
    ul {
        display: flex;
        padding-left: 7px;
        li{
            padding: 10px;
        }
   }
}

.follow-message{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.size-social{
    font-size: 1.3em; 
    color: black;
    height: auto;
    width: auto; 
    &:hover{
        
    }
}

.social{
    display: flex;
    align-items: center;
}
