header{
    background-image: linear-gradient(to left top, #f49e55, #f4a54d, #f2ad45, #eeb53d, #e9bd35);
    align-items: center;
    padding: 10px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .naiarai-logo {
        width: 7vw; 
        height: auto; 
        padding: 10px;
    }

    .pages-link{
        display: flex;
        gap: 2rem;
        margin-left: 20px;
        text-decoration: none;
        color:white;
        font-family: "Cabin Sketch", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
        padding: 10px;
        &:hover{
            background-color: #e9bd35;
            border-radius:10px;
            color: white;
        }
    }
    
}


