header{
    background-image: $bg-image-hd-ft;
    align-items: center;
    padding: 10px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .naiarai-logo {
        width: 7vw; 
        height: auto; 
        padding: 10px;
    }

    .pages-link{
        display: flex;
        gap: 2rem;
        margin-left: 20px;
        text-decoration: none;
        color:white;
        font-family: $cabin-sketch-font;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
        padding: 10px;
        &:hover{
            background-color: #e9bd35;
            border-radius:10px;
            color: white;
        }
    }
    
}


