@media (max-width: 1200px) {
    .naiarai-logo {
        width: 10%;
    }
}

    .naraiai-item{
        display: flex;
        flex-direction: column;
        width:85%
    }

    .visita-item{
        display: flex;
        flex-direction: column;
        width:85%
    }

    .grupo-item{
        display: flex;
        flex-direction: column;
        width:85%
    }

    @media (max-width: 1024px) {
        /* Tablet */
        .naiarai-logo {
            width: 15%;
        }
    }
    
    @media (max-width: 599px) {
        /* Mobile */
        .naiarai-logo {
            width: 20%;
        }
    }